[submodule "hmode7"]
	path = hmode7
	url = git@github.com:mateo-m/hmode7-apple-mobile.git
	branch = main
[submodule "deps/sources/openal-soft"]
	path = deps/sources/openal-soft
	url = git@github.com:kcat/openal-soft.git
	ignore = dirty
[submodule "deps/sources/sdl2"]
	path = deps/sources/sdl2
	url = git@github.com:mkxp-z/SDL
	branch = mkxp-z-2.28.1
	ignore = dirty
[submodule "deps/sources/sdl2_image"]
	path = deps/sources/sdl2_image
	url = git@github.com:mkxp-z/SDL_image
	branch = mkxp-z
	ignore = dirty
[submodule "deps/sources/sdl_sound"]
	path = deps/sources/sdl_sound
	url = git@github.com:mkxp-z/SDL_sound
	branch = git
	ignore = dirty
[submodule "deps/sources/sdl2_ttf"]
	path = deps/sources/sdl2_ttf
	url = git@github.com:mkxp-z/SDL_ttf
	branch = mkxp-z
	ignore = dirty
[submodule "deps/sources/freetype"]
	path = deps/sources/freetype
	url = git@github.com:mkxp-z/freetype2
	branch = master
	ignore = dirty
[submodule "deps/sources/ruby"]
	path = deps/sources/ruby
	url = git@github.com:mkxp-z/ruby
	branch = mkxp-z-3.1.3
	ignore = dirty
[submodule "deps/sources/ruby18"]
	path = deps/sources/ruby18
	url = git@github.com:joiplay/ruby
	branch = ruby_1_8
	ignore = dirty
[submodule "deps/sources/ruby19"]
	path = deps/sources/ruby19
	url = git@github.com:ruby/ruby.git
	branch = ruby_1_9_3
	ignore = dirty
